<h1>Atores</h1>

<% if @actors.empty? %>
  <p>Não há ator algum cadastrado!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Filme</td>
      </tr>
    </thead>
    <tbody>
      <% @actors.each do |actor| %>
        <tr>
          <td><%= actor.name %></td>
          <td><%= actor.age %></td>
          <td><%= actor.movie.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Cadastrar ator', new_actor_path %>